/* Custom Fonts */
@font-face {
   font-family: "Nexa Light";
   src: url("../fonts/Nexa\ Light.otf");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Nexa Regular";
   src: url("../fonts/Nexa\ Regular.otf");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Nexa Bold";
   src: url("../fonts/Nexa\ Bold.otf");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Mermaid";
   src: url("../fonts/Mermaid1001.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE Layer Custom Designs */
@layer base {
   html {
      @apply scroll-smooth;
   }
   body {
      font-family: "Nexa Regular";
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: "Nexa Bold";
   }
}

/* Components  Layer Custom Design*/
@layer components {
   .page_title {
      @apply capitalize w-full text-center pt-8 text-2xl lg:text-3xl xl:text-4xl font-bold;
   }

   .title {
      @apply capitalize text-xl lg:text-2xl md:text-3xl text-center;
   }

   .input_field {
      @apply w-full border-[1px] border-clr_black py-3 px-4;
   }

   /* Alert Components */
   .alert_box {
      @apply max-w-[500px] absolute right-4 bottom-4 left-4 sm:bottom-5 sm:right-5 sm:left-auto z-50 transition-all duration-300;
   }

   .alert {
      @apply px-4 py-2 flex space-x-8 items-center;
   }
   .alert-error {
      @apply bg-red-100 border border-red-400 text-red-700;
   }
   .alert-success {
      @apply bg-green-200 border border-green-400 text-green-700;
   }
   .message {
      @apply block;
   }

   .btn_sm {
      @apply w-[120px];
   }

   .btn_md {
      @apply w-[200px];
   }
}

/* ------------------------------ CUSTOM classes & DESIGNS ---------------------- */
/* Header Section/Content */
.top_bar {
   @apply relative bg-clr_primary py-2 flex space-x-4 justify-center text-clr_white uppercase text-xs tracking-wider;
}

.dektop_only {
   @apply hidden lg:flex lg:space-x-4 items-center;
}

/* Navbar Design */
.navbar {
   @apply bg-transparent;
}
.nav_content {
   @apply py-4 flex justify-between items-center text-lg;
}

.primary_links {
   @apply hidden items-center lg:flex lg:space-x-4;
}

.nav_logo {
   @apply w-24 ml-4 sm:ml-0;
}
.nav_logo > a > img {
   @apply block object-cover;
}

.secondary_liks {
   @apply flex items-center lg:space-x-4 pr-3 sm:mr-0;
}

.cart_icon {
   @apply relative w-5;
}
.cart_tag {
   @apply bg-clr_black w-5 h-5 rounded-full absolute -top-2 -right-4 flex justify-center items-center;
}

.nav_link {
   @apply capitalize transition-transform hover:italic;
}

.active_link {
   @apply italic font-semibold;
}

/* Sticky Nav */
.sticky_nav {
   @apply sticky top-0 left-0 right-0 bottom-auto z-50 bg-clr_white;
}

/* Mobile-Nav */
.overlay {
   @apply w-0 h-full fixed bg-clr_secondary top-[96px] left-0 z-40 transition-all duration-500 overflow-x-hidden;
}
.overlay_scroll {
   @apply w-0 h-full fixed bg-clr_secondary top-[64px] left-0 z-40 transition-all duration-300 overflow-x-hidden;
}

.overlay_content {
   @apply text-clr_primary relative w-full h-full  pt-4 flex flex-col space-y-3 text-2xl;
}

.menu_btns {
   @apply cursor-pointer font-bold text-center;
}

.menu_btn {
   @apply block w-6;
}

.menu_close_btn {
   @apply block w-5;
}

/*-------------------- HOME PAGE DESIGN ------------------- */

.header_banner {
   @apply w-full relative -top-16 left-0 right-0 -z-10 -mb-16;
}

.banner_img {
   @apply w-full max-h-[95vh];
}

.banner_img > img {
   @apply block object-cover w-full;
}

/*-------------------- Sustainability section DESIGN ------------------- */

.sustainability_section {
   @apply bg-clr_white pt-32 pb-20 overflow-x-hidden;
}

.sustainability_content {
   @apply relative py-10;
}

/* Positioning Images */
.left_top_pos {
   @apply absolute -top-12 left-0 z-10 lg:left-12 xl:left-28;
}
.left_bottom_pos {
   @apply absolute bottom-20 left-4 z-10 sm:bottom-4 sm:left-4 md:left-16 md:-bottom-4 lg:left-48 lg:bottom-8 xl:left-60;
}
.right_mid_pos {
   @apply absolute -right-4 top-[50%] sm:top-1/2 sm:right-0 z-10 lg:top-[15%] lg:right-10 xl:right-20;
}

.main_head {
   @apply w-full lg:w-[70%] lg:mx-auto flex flex-col space-y-10 items-center;
}
.main_head > h4 {
   @apply text-4xl sm:text-5xl xl:text-6xl text-center z-20;
}
.main_head > h4 {
   line-height: 120%;
}

.btn_main {
   @apply w-48 flex space-x-3 items-center border-[1px] border-clr_primary bg-clr_white text-clr_primary rounded-3xl py-3 justify-center;
}

.rounded_img {
   @apply w-24 h-24 sm:w-32 sm:h-32 lg:w-36 lg:h-36 rounded-full;
}
.rounded_img > img {
   @apply block object-cover w-full h-full rounded-full;
}

/*-------------------- Product Demo section DESIGN ------------------- */

.product_demo {
   @apply bg-clr_black relative;
}

.product_demo_2 {
   @apply bg-[#5e6f2b] relative;
}

.vertical_line_top {
   @apply hidden lg:block absolute top-0 left-0 right-0 mx-auto w-1 h-20 z-30 bg-clr_secondary;
}

.vertical_line_bottom {
   @apply hidden lg:block absolute bottom-0 left-0 right-0 mx-auto w-1 h-20 z-30 bg-clr_secondary;
}

.product_demo_content {
   @apply grid grid-cols-1 gap-y-20 lg:grid-cols-2 lg:gap-y-0 lg:gap-x-12 xl:gap-x-14 2xl:gap-x-16;
}

.product_img_demo {
   @apply w-full flex justify-center items-center;
}

.product_img_demo > img {
   @apply block object-cover max-h-[420px];
}

.product_demo_details {
   @apply mx-auto max-w-[420px] grid grid-cols-1 gap-y-4 text-clr_secondary text-center;
}

.product_demo_subtitle {
   @apply flex space-x-4 items-center w-full justify-center;
}
.line_wrapper {
   @apply w-28 h-[2px] bg-clr_secondary;
}

.product_demo_details > h4 {
   @apply text-5xl;
}
.product_demo_details > h4 {
   line-height: 120%;
   font-family: "Mermaid";
}

.product_demo_details > p {
   line-height: 28px;
   letter-spacing: 0.3rem;
}

.product_demo_details > a {
   letter-spacing: 0.1rem;
   margin: 0 auto;
   margin-top: 2rem;
}

.product_demo_btn {
   @apply uppercase w-48 flex border-[1px] border-clr_secondary bg-transparent  py-3 justify-center items-center;
}

/*-------------------- Product info section DESIGN ------------------- */

.product_info {
   @apply text-gray-600;
}

.product_info {
   background-image: url("../img/banner/bg.jpg");
}

.product_info_content {
   @apply px-5 mx-auto grid grid-cols-1 gap-y-12 lg:gap-y-0 lg:grid-cols-2 lg:gap-x-8 xl:gap-x-16 2xl:gap-x-20;
}

.p_info_img {
   @apply max-w-[520px] mx-auto;
}

.p_info_img > img {
   @apply w-full block object-cover;
}

.p_info_details {
   @apply lg:pl-4 text-clr_black;
}

.p_info_title {
   @apply text-black mb-1 text-4xl lg:text-5xl;
   line-height: 120%;
   font-family: "Mermaid" !important;
   color: rgb(203 108 26) !important;
}

.product_info_p {
   @apply mt-8 text-xl text-justify;
}

.size_box {
   @apply flex border-t border-gray-200 py-2 mt-8;
}

.quantity_box {
   @apply flex border-t border-b mb-6 border-gray-200 py-2;
}

.divider_box {
   @apply flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5;
}

.price_box {
   @apply flex items-center;
}

.price_box > span {
   @apply font-medium text-2xl text-clr_black;
}

.product_info_btn {
   @apply border-[1px] border-clr_black bg-transparent py-3 w-44 flex justify-center uppercase;
}

.product_info_imgs {
   @apply grid grid-cols-1 gap-y-4 md:gap-y-0 md:grid-cols-2 md:gap-x-4 lg:gap-x-6 xl:gap-x-8 2xl:gap-x-10;
}

.heading {
   @apply text-clr_black w-full text-center text-2xl lg:text-3xl xl:text-4xl;
}

/*-------------------- Product slider section DESIGN ------------------- */

.product_slider_section {
   @apply py-12 xl:py-12 2xl:pt-40 2xl:pb-24 relative;
}

.bg_img {
   @apply absolute top-0 left-0 right-0 -z-10 w-full h-full;
}
.bg_img > img {
   @apply object-cover w-full h-full block;
}

.product_slider_content {
   @apply max-w-[700px] mx-auto sm:px-20 grid grid-cols-1 gap-y-8 xl:gap-y-12;
}

.product_slider_img {
   @apply w-[320px] xl:w-[420px] m-auto;
}

.product_slider_img > img {
   @apply block object-cover m-auto;
}

.product_slider_details {
   @apply max-w-[380px] m-auto flex flex-col space-y-4 text-center;
}

.product_slider_details > span {
   @apply font-semibold text-base md:text-xl xl:text-2xl;
   letter-spacing: 0.2rem;
}

.product_slider_details > p {
   @apply text-sm md:text-base;
   letter-spacing: 0.2rem;
}

/*-------------------- Featured Product section DESIGN ------------------- */

.featured_product {
   @apply relative bg-[#D2784E] py-36;
}

/* Marquee Animation */

.marquee_container {
   overflow: hidden !important;
}

.marquee {
   width: 100%;
   font-size: 5.6vw;
   line-height: 1;
   z-index: 1;
   text-transform: uppercase;
   white-space: nowrap;
   color: #1e1e1e;
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
}

.marquee_text {
   animation: marquee 100s linear infinite running;
   -webkit-animation: marquee 100s linear infinite running;
}

@keyframes marquee {
   to {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
   }
}

.f_product_content {
   @apply sm:px-20 grid grid-cols-1 gap-y-10 lg:grid-cols-2 lg:gap-y-0 lg:gap-x-10 xl:gap-x-14 2xl:gap-x-20;
}

.f_product_img {
   @apply m-auto max-w-[320px] max-h-[600px];
}

.f_product_img > img {
   @apply block object-cover w-full h-full;
}

.f_product_details {
   @apply m-auto text-center;
}
.details_wrapper {
   @apply max-w-[370px] grid grid-cols-1 gap-y-4;
}
.details_wrapper > img {
   @apply block mx-auto;
}

.swiper-button-next,
.swiper-button-prev {
   width: 72px !important;
   height: 72px !important;
   opacity: 1;
   text-transform: uppercase;
   font-size: 16px;
   background: #c4531e;
   color: #ffffff;
   top: 50%;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   border: 1px solid #ffffff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
   background: #1e1e1e;
}

.swiper-button-next::after,
.swiper-button-prev::after {
   content: "";
}

.details_wrapper > p {
   letter-spacing: 0.2rem;
}

.f_product_btn {
   @apply text-sm md:text-base uppercase text-[#FFFCF2] max-w-[180px] flex border-[1px] border-[#B7ADA1] bg-clr_black px-6 py-3 justify-center items-center rounded;
}

/* ---------------------------- Instagram gallery Designs ---------------------------- */
.insta_gallery {
   @apply pt-20 pb-40 sm:py-20 bg-clr_white;
}

.insta_gal_head {
   @apply mx-auto w-full lg:w-[70%] flex flex-col space-y-4;
}

.insta_head_img {
   @apply block object-cover mx-auto;
}

.horizontal_divider {
   @apply h-1 w-6 bg-[#8e9373] mx-auto;
}

.insta_heading {
   @apply w-full text-2xl sm:text-3xl lg:text-4xl text-center pt-2;
}

.insta_gal_imgs {
   @apply w-full relative h-[50vh] mt-20 lg:mt-0;
}

.insta_img_1 {
   @apply absolute -top-6 left-3 w-16 lg:w-24;
}

.insta_img_2 {
   @apply absolute top-8 sm:top-12 left-[40%] sm:left-[54%] w-28 z-10 md:left-[60%] lg:top-20 lg:left-[63%] lg:w-36;
}

.insta_img_3 {
   @apply absolute -top-6 sm:-top-12 right-3 w-36 lg:w-48;
}

.insta_img_4 {
   @apply absolute top-20 left-8 w-28 z-20 sm:top-4 sm:left-28 md:w-32 lg:w-40 lg:top-0 lg:left-36;
}

.insta_img_5 {
   @apply absolute w-24 sm:w-32 md:w-36 h-24 sm:h-32 md:h-36 rounded-full sm:rounded-none top-52 sm:top-56 left-4 md:top-52 md:left-12;
}
.insta_img_5 > img {
   @apply w-full h-full rounded-full sm:rounded-none block;
}

.insta_img_6 {
   @apply w-36 h-36 absolute  top-44 sm:top-60  right-8 z-30 md:right-20;
}
.insta_img_6 > img {
   @apply w-full h-full rounded-full sm:rounded-none block;
}

.insta_img_7 {
   @apply w-40 h-40  absolute top-64 sm:top-44 right-0 left-0 mx-auto z-20 md:w-48 md:h-48 lg:w-56 lg:h-56;
}

/* ----------------------------- Sign Up/Login Page Design---------------------------- */
.auth_page_content {
   @apply flex flex-col sm:mx-auto max-w-[500px];
}
.form_container {
   @apply pt-8 text-base text-clr_black;
}

.input_container {
   @apply flex flex-col space-y-6;
}

.full_name {
   @apply flex flex-col space-y-6 md:flex-row md:space-x-4 md:space-y-0;
}

.form_checkbox {
   @apply mt-4 flex items-center justify-between text-gray-600;
}

.checkbox {
   @apply flex items-center space-x-2;
}

.form_submit_btn {
   @apply cursor-pointer text-white text-center py-3 px-1 bg-clr_black;
}

.form_p {
   @apply text-gray-600 mt-2;
}

/* ----------------------------- Cart Page Design---------------------------- */

.cart_page_content {
   @apply text-clr_black mt-20 flex flex-col space-y-8 lg:flex-row lg:space-y-0 lg:space-x-10;
}

.cart_items {
   @apply w-full lg:w-[60%];
}

.items_container {
   @apply w-full flex flex-col space-y-8;
}

.item {
   @apply w-full border-b-[1px] px-4 py-4 md:py-0 bg-[#F7F7F7] flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:justify-between sm:items-center;
}

.item_content {
   @apply w-full flex flex-col space-y-4 sm:flex-row sm:space-x-12 sm:space-y-0;
}
.item_img {
   @apply max-w-[120px] flex items-center;
}
.item_img > img {
   @apply block object-cover;
}
.item_details {
   @apply w-full flex flex-col space-y-3 md:py-6;
}

.item_name {
   @apply text-lg lg:text-xl font-semibold;
}
.item_size {
   @apply flex space-x-2;
}

.last_block {
   @apply flex flex-col items-center;
}

.item_btn_and_price {
   @apply w-full flex flex-col space-y-4 sm:justify-center sm:float-right;
}

.item_btn {
   @apply sm:ml-auto flex items-center justify-around w-[80px] h-12 border-[1px] border-black;
}

.item_btn > span {
   @apply font-semibold;
}

.item_price {
   @apply flex space-x-2 items-center;
}

.item_price > strike {
   @apply text-sm xl:text-lg text-[#949AA3];
}

.item_price > span {
   @apply font-bold text-lg lg:text-xl xl:text-2xl;
}

.item_quantity {
   @apply mr-auto sm:mr-0 sm:ml-auto text-sm xl:text-lg text-[#949AA3];
}

.item_remove_btn {
   @apply inline-block text-base lg:text-lg;
}

/* Cart Actions */
.cart_actions {
   @apply w-full lg:w-[40%];
}
.action_container {
   @apply ml-auto  bg-[#F7F7F7] flex flex-col space-y-4 p-8;
}
.action_container > .total_amount {
   @apply w-full flex justify-between items-center font-bold text-lg lg:text-xl xl:text-2xl;
}

.action_container > .action_btns {
   @apply w-full flex flex-col space-y-3;
}

.action_container > .action_comment {
   @apply text-center text-lg;
}
.checkout_btn {
   @apply text-center text-lg font-bold bg-clr_black text-clr_white py-3;
}
.continue_shopping_btn {
   @apply py-3 text-center text-lg font-bold bg-clr_white border-[1px] border-clr_black;
}

/* ------------------------ Checkout Page Design ------------------ */
.checkout_page {
   @apply text-clr_black w-full flex flex-col lg:flex-row-reverse;
}

/* Checkout product content */
.checkout_product_content {
   @apply w-full  lg:w-1/2 xl:w-[40%] bg-[#F5F5F5] py-28;
}

.checkout_product_container {
   @apply container;
}

/* Checkout Actions */
.checkout_actions {
   @apply flex flex-col space-y-8;
}

.checkout_product {
   @apply text-clr_black flex space-x-4 sm:space-x-8 border-b-[1px] border-gray-300 pb-8;
}

.checkout_product_img {
   @apply max-w-[80px] relative;
}

.checkout_product_img_tag {
   @apply w-5 h-5 rounded-full absolute -top-2 -right-2 bg-gray-400 flex justify-center items-center;
}

.checkout_product_img_tag > span {
   @apply text-sm font-semibold;
}

.checkout_product_img > img {
   @apply w-full object-cover block;
}

.checkout_product_details {
   @apply flex justify-between w-full items-center font-semibold text-lg;
}

.checkout_product_name {
   @apply text-lg lg:text-2xl;
}
.checkout_product_size {
   @apply text-gray-400 text-base;
}

.checkout_price {
   @apply text-lg sm:text-xl w-fit;
}

.coupon_box {
   @apply flex flex-col space-y-4 border-b-[1px] border-gray-300 pb-8;
}

.coupon_box_input {
   @apply flex space-x-4;
}

.coupon_tag {
   @apply bg-[#E6E6E6] w-fit px-4 py-2 flex space-x-3 items-center;
}

.coupon_tag > i {
   @apply text-gray-500;
}

.cart_amount_details {
   @apply flex flex-col space-y-2 border-b-[1px] border-gray-300 pb-8 text-lg;
}

.cart_subtotal {
   @apply w-full flex justify-between;
}
.discount_coupon {
   @apply hidden sm:flex sm:space-x-2 sm:text-gray-500 sm:items-center;
}
.discount_coupon > span {
   @apply text-sm;
}
.shipping_note {
   @apply font-semibold text-center text-base;
}
/* Cart Total */
.cart_total {
   @apply pt-8 flex justify-between items-center;
}
.cart_total_left > p {
   @apply font-semibold text-lg;
}
.cart_total_left > span {
   @apply text-xs;
}

.cart_total_amount {
   @apply text-2xl font-bold;
}
.cart_total_right {
   @apply flex justify-center items-center space-x-2 text-xs;
}

/* Checkout information form content */
.information_content {
   @apply w-full lg:w-1/2 xl:w-[60%] bg-white py-28;
}

.information_container {
   @apply flex flex-col space-y-16 container;
}

/* Info top content */
.info_top_content {
   @apply flex flex-col space-y-3;
}
.info_top {
   @apply flex justify-between items-center;
}
.info_top > span {
   @apply font-semibold text-3xl;
}
.info_top > p {
   @apply text-right text-gray-500;
}
.info_top > p > a {
   @apply text-right text-clr_black;
}

/* Information Form */

.inputs_container {
   @apply flex flex-col space-y-4;
}
.form_input_full {
   @apply w-full;
}

.form_input_two {
   @apply grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-x-3;
}
.form_input_three {
   @apply grid grid-cols-1 gap-y-4 md:grid-cols-3 md:gap-x-3;
}

.checkbox_input {
   @apply flex space-x-2 items-center;
}

.shipping_btn {
   @apply mt-8 w-[220px] py-3 text-center bg-clr_black text-white text-xl;
}

.info_bottom_content {
   @apply border-t-[1px] border-clr_black py-4 flex space-x-6;
}
.info_bottom_content > a {
   @apply text-xs text-clr_black;
}

/* ----------------------------- Product Details Page Design---------------------------- */
.product_details_page {
   @apply py-20 w-full;
}

.product_details_layout {
   @apply px-4 flex flex-col lg:flex-row 2xl:container;
}

.product_img_main_container {
   @apply w-full lg:w-[60%];
}

.product_gallery {
   @apply w-full;
}

.product_img_container {
   @apply flex flex-col space-y-4 lg:space-y-0 lg:flex-row-reverse lg:justify-end;
}

.side_img_bar {
   @apply lg:w-[15%] flex flex-row justify-center lg:justify-start space-x-4 lg:space-x-0 lg:flex-col lg:space-y-4;
}

.product_details_container {
   @apply w-full lg:w-[40%];
}

.sample_img {
   @apply p-2 max-w-[116px] object-cover;
}

.active_img {
   @apply border-[1px] border-clr_black;
}

.main_img {
   @apply w-full lg:ml-4 lg:max-w-[600px] object-cover;
}
.main_img_desktop > img {
   @apply mx-auto;
}

/* Product Details */
.product_details_container {
   @apply mt-8 text-gray-400 px-4;
}

.p_details_top_content {
   @apply flex flex-col space-y-3 pb-8;
}

.product_review {
   @apply flex space-x-3 items-center;
}
.ratings {
   @apply text-yellow-500;
}

.product_name_main {
   @apply text-2xl text-clr_black lg:text-3xl  font-semibold;
}

.product_price_main {
   @apply text-xl;
}

.product_price_main > span {
   @apply text-clr_black text-[22px];
}

.p_details_mid_content {
   @apply border-y-[1px] border-gray-300 py-10;
}

.product_summury {
   @apply text-justify pb-8;
}

.p_details_btn_container {
   @apply flex flex-col space-y-2;
}

.p_details_btns {
   @apply flex space-x-3 items-center;
}

.increase_decrease_btns {
   @apply h-14 w-32 flex justify-around items-center border-[1px] border-gray-400  text-lg font-medium text-clr_black;
}

.add_to_cart_btn {
   @apply w-full flex items-center justify-center h-14 bg-[#313232BF] text-white capitalize cursor-pointer;
}

.buy_now_btn {
   @apply bg-clr_primary text-center w-full h-14 text-white flex justify-center items-center capitalize cursor-pointer;
}

.p_details_bottom_container {
   @apply bg-clr_secondary text-clr_black;
}

.p_details_bottom_content {
   @apply py-8  grid grid-cols-4 gap-x-2;
}

.product_highlight {
   @apply flex flex-col space-y-2 justify-center items-center;
}

.product_highlight > img {
   @apply w-12 block object-cover;
}

.product_highlight > span {
   @apply uppercase text-xs text-center;
   font-family: "Nexa Light";
}

.product_set {
   @apply pb-8 inline-block;
}

.product_set > span {
   @apply capitalize text-sm text-clr_primary block;
}

.radio_group {
   @apply mt-2  text-sm border-[1px] border-clr_black rounded-3xl overflow-hidden;
}

.radio_group > input[type="radio"] {
   position: absolute;
   visibility: hidden;
   display: none;
}

.radio_group > label {
   @apply text-[#8E9373] bg-white cursor-pointer inline-block px-5 py-2;
   font-family: "Nexa Bold";
}

.radio_group > input[type="radio"]:checked + label {
   @apply text-clr_white bg-[#8E9373] w-fit;
}

.radio_group > label + input[type="radio"] + label {
   @apply border-l-[1px] border-clr_black -ml-1;
}

/* Product Description Designs */
.product_description {
   @apply my-20 border-t-[1px] border-b-[1px] border-gray-400;
}
.description_content {
   @apply py-20 text-gray-400;
}
.description_heading {
   @apply capitalize text-center text-3xl text-clr_black mb-8;
}
.description_heading > h2 {
   @apply inline-block border-b-[1px] border-clr_black pb-1;
}
.description_content > p {
   @apply py-2 leading-relaxed tracking-wider;
}

/* Reviews */
.review_list {
   @apply flex flex-col space-y-12;
}

.review_container {
   @apply flex flex-col space-y-8 md:flex-row md:space-y-0 md:space-x-6 lg:space-x-12 xl:space-x-16 2xl:space-x-20;
}

.review_content {
   @apply grid grid-cols-1 gap-y-3;
}

.review_title {
   @apply text-lg font-semibold;
}

.review_text {
   @apply text-justify;
}

.review_imgs {
   @apply flex items-center space-x-4;
}

.review_imgs > img {
   @apply block max-w-[100px] max-h-[120px];
}

/* Review Form */
.review_form {
   @apply pt-20;
}

.review_form > p {
   @apply text-base text-gray-400;
}
.review_form > p > span {
   @apply text-red-500;
}

.rating_input {
   @apply mt-8 flex items-center space-x-4;
}
.rating_input {
   @apply text-lg text-clr_black;
}
/* Star Ratings */
.rating {
   position: relative;
   font-size: 30px;
}

.rating label {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   cursor: pointer;
}

.rating label:last-child {
   position: static;
}

.rating label:nth-child(1) {
   z-index: 5;
}

.rating label:nth-child(2) {
   z-index: 4;
}

.rating label:nth-child(3) {
   z-index: 3;
}

.rating label:nth-child(4) {
   z-index: 2;
}

.rating label:nth-child(5) {
   z-index: 1;
}

.rating label input {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.rating label .icon {
   float: left;
   color: transparent;
}

.rating label:last-child .icon {
   color: #cecece;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
   color: #eab308;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
   color: #cecece;
   text-shadow: 0 0 5px #eab308;
}

.review_inputs {
   @apply grid grid-cols-1 gap-y-4 md:grid-cols-2 gap-x-4;
}

.review_submit_btn {
   @apply uppercase font-semibold transition-all duration-200 ease-in-out hover:bg-clr_primary hover:text-white;
}

.review_inputs > .grid_right {
   @apply flex flex-col space-y-4;
}

.review_inputs > .grid_left {
   @apply w-full h-full;
}

.review_inputs > .grid_left > textarea {
   @apply h-60  md:h-full;
}

/* FAQs Designs */
.faqs {
   @apply max-w-[600px] mx-auto mt-12;
}
.faq_heading {
   @apply text-center text-3xl text-clr_black;
}
.faq_container {
   @apply border-b-[1px] border-gray-400;
}
.faq {
   @apply w-full py-4 text-lg font-bold flex justify-between items-center cursor-pointer;
}

.faq_content {
   @apply hidden pb-6;
}

/* ---------------------------- User Dashboard Designs ---------------------------- */

.user_dashboard {
   @apply py-20 bg-clr_gray text-clr_black;
}

.user_info_cards {
   @apply grid grid-cols-1 gap-y-8 md:grid-cols-2 md:gap-x-10 md:gap-y-10 lg:grid-cols-3 mt-20 px-10;
}

.user_info_card {
   @apply bg-white flex flex-col space-y-1 items-center justify-center h-48;
}

.info_icon {
   @apply text-2xl;
}

.info_heading {
   @apply text-lg border-b-[1px] border-clr_black capitalize;
}

/* ---------------------------- User Order Dashboard Designs ---------------------------- */
.user_dash {
   @apply py-12 relative text-clr_black;
}

.dash_layout {
   @apply flex flex-col space-y-10 lg:flex-row lg:space-y-0 lg:space-x-10 xl:space-x-20 my-20;
}

.side_panel {
   @apply w-full lg:w-[30%] lg:sticky lg:top-[124px] lg:left-0 z-40 overflow-x-hidden lg:h-full;
}

.panel_item {
   @apply text-lg capitalize font-semibold;
}

.panel_item_content {
   @apply py-4 flex justify-between items-center;
}

.active_panel_item {
   @apply font-bold;
}

.main_panel {
   @apply w-full lg:w-[70%];
}

/* ---------------------------- User info Dashboard Designs ---------------------------- */

.user_info_container {
   @apply grid  grid-cols-1 gap-y-4;
}
.name {
   @apply grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-x-4 md:gap-y-0;
}

/* ---------------------------- User address Dashboard Designs ---------------------------- */
.user_address_container {
   @apply grid grid-cols-1 gap-y-8 md:grid-cols-2 md:gap-x-8 md:gap-y-0;
}

.address_card {
   @apply bg-clr_gray w-full h-32 flex justify-center items-center;
}

.address_card_content {
   @apply flex space-x-10 items-center;
}
.card_heading {
   @apply text-lg font-semibold;
}

.address_card_btns {
   @apply flex space-x-4;
}

.address_card_btn {
   @apply w-12 h-12 rounded-full bg-white flex justify-center items-center;
}

.address_add_btn {
   @apply w-full capitalize text-center border-2 border-clr_gray py-4 text-lg font-semibold;
}

/* ---------------------------- User address Dashboard Designs ---------------------------- */

.address_form_dash {
   @apply grid grid-cols-1 gap-y-4;
}

/* ---------------------------- Footer Designs ---------------------------- */
.footer_section {
   @apply bg-clr_primary text-clr_white;
}

.footer_top {
   @apply flex justify-between items-center;
}

.f_logo {
   @apply w-36 object-cover;
}

.f_social_links {
   @apply flex space-x-8;
}

.f_content {
   @apply grid grid-cols-2 gap-y-16 gap-x-4 lg:grid-cols-4 lg:gap-x-6 lg:gap-y-0 xl:gap-x-10 2xl:gap-x-14;
}

.f_links {
   @apply flex flex-col;
}

.footer_heading {
   @apply text-lg border-b-[1px] border-clr_white w-full pb-8;
}

.f_links_content {
   @apply mt-8 flex flex-col space-y-4;
}

.f_link {
   @apply text-clr_white transition hover:text-white;
}

.f_icons {
   @apply text-3xl flex space-x-4;
}

.footer_bottom {
   @apply text-clr_white;
}

.f_last {
   @apply py-4 flex flex-col space-y-8 items-center justify-center lg:flex-row-reverse lg:space-y-0 lg:justify-between;
}

.privacy_policy {
   @apply capitalize flex space-x-6;
}
