/* Custom Fonts */
@font-face {
   font-family: "Tiempos Text";
   src: url("../public/fonts/TiemposText-Regular.ttf");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Tiempos Light";
   src: url("../public/fonts/TiemposHeadline-Light.ttf");
   font-weight: 300;
   font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE Layer Custom Designs */
@layer base {
   html {
      @apply scroll-smooth;
   }
   body {
      font-family: "Tiempos Text";
   }
}

/* Components  Layer Custom Design*/
@layer components {
   /* Common Components */
   /* .page_title {
      @apply capitalize w-full md:text-center pt-8 text-3xl lg:text-4xl xl:text-5xl font-bold;
   } */

   /* .title {
      @apply capitalize text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-center px-4 py-8 font-bold;
   } */

   /* .card {
      @apply cursor-pointer relative block;
   }

   .related_p_card {
      @apply max-w-[400px] cursor-pointer relative;
   }

   .card_title {
      @apply text-3xl text-center px-2 py-4 font-bold;
   }

   .card_container {
      @apply overflow-hidden block;
   }

   .card_img {
      @apply relative object-cover transition-all duration-300 hover:transform hover:scale-105;
   }

   .card_body {
      @apply flex flex-col space-y-1 pl-2 pr-4 pt-2 pb-2;
   }  */

   /* Card Tags */
   /* .hot_sale_tag {
      @apply bg-[#FFA500] inline-block py-[2px] px-3 text-sm font-semibold text-white capitalize absolute top-3 left-3 z-20;
   }

   .discount_sale_tag {
      @apply bg-[#FF0000] inline-block py-[2px] px-3 text-sm font-semibold text-white capitalize absolute top-3 left-3 z-20;
   }

   .stock_out_tag {
      @apply bg-[#B7B7B7] inline-block py-[2px] px-3 text-sm font-semibold text-white capitalize absolute top-3 left-3 z-20;
   }

   .add_to_cart_snippet {
      @apply bg-clr_primary text-sm border-4 border-white w-8 h-8 rounded-full absolute -top-4 -right-4 flex items-center justify-center
       transition-all duration-300 hover:transform hover:scale-125 z-30;
   }

   .add_to_cart_snippet > a {
      @apply block;
   }

   .price {
      @apply flex font-semibold;
   } */

   /* .pagination {
      @apply flex justify-center items-center space-x-4;
   }
   .paging {
      @apply border-2 border-black px-2 py-1 lg:px-4 cursor-pointer;
   } */

   /* ... */

   /* .btn_sm {
      @apply w-[120px];
   }

   .btn_md {
      @apply w-[200px] rounded-3xl;
   }

   .btn_outline {
      @apply border-[1px] bg-clr_white border-clr_primary transition hover:bg-clr_primary hover:text-clr_white;
   } */
}

/* ------------------------------ CUSTOM classes & DESIGNS ---------------------- */
/* Header Section/Content */
.top_bar {
   @apply relative bg-clr_primary py-2 flex space-x-4 justify-center text-clr_white uppercase text-xs tracking-wider;
}

.top_bar > span {
   font-family: "Tiempos Light";
}

.dektop_only {
   @apply hidden lg:flex lg:space-x-4 items-center;
}

/* Navbar Design */
.navbar {
   @apply bg-transparent;
}
.nav_content {
   @apply py-4 flex justify-between items-center text-lg;
}

.primary_links {
   @apply hidden items-center lg:flex lg:space-x-4;
}

.nav_logo {
   @apply w-24 ml-4 sm:ml-0;
}
.nav_logo > a > img {
   @apply block object-cover;
}

.secondary_liks {
   @apply flex items-center lg:space-x-4 pr-3 sm:mr-0;
}

.cart_icon {
   @apply relative w-5;
}
.cart_tag {
   @apply bg-clr_black w-5 h-5 rounded-full absolute -top-2 -right-4 flex justify-center items-center;
}

.nav_link {
   @apply capitalize transition-transform hover:italic;
}

.active_link {
   @apply italic font-semibold;
}

/* Sticky Nav */
.sticky_nav {
   @apply sticky top-0 left-0 right-0 bottom-auto z-50 bg-clr_white;
}

/* Mobile-Nav */
.overlay {
   @apply w-0 h-full fixed bg-clr_secondary top-[96px] left-0 z-40 transition-all duration-500 overflow-x-hidden;
}
.overlay_scroll {
   @apply w-0 h-full fixed bg-clr_secondary top-[64px] left-0 z-40 transition-all duration-300 overflow-x-hidden;
}

.overlay_content {
   @apply text-clr_primary relative w-full h-full  pt-4 flex flex-col space-y-3 text-2xl;
}

.menu_btns {
   @apply cursor-pointer font-bold text-center;
}

.menu_btn {
   @apply block w-6;
}

.menu_close_btn {
   @apply block w-5;
}

/*-------------------- HOME PAGE DESIGN ------------------- */

.header_banner {
   @apply w-full relative -top-16 left-0 right-0 -z-10 -mb-16;
}

.banner_img {
   @apply w-full max-h-[95vh];
}

.banner_img > img {
   @apply block object-cover w-full;
}

/*-------------------- Sustainability section DESIGN ------------------- */

.sustainability_section {
   @apply bg-clr_white pt-32 pb-20 overflow-x-hidden;
}

.sustainability_content {
   @apply relative py-10;
}

/* Positioning Images */
.left_top_pos {
   @apply absolute -top-12 left-0 z-10 lg:left-12;
}
.left_bottom_pos {
   @apply absolute bottom-16 -left-4 z-10 sm:bottom-4 sm:left-4 md:left-16 md:-bottom-4 lg:left-36;
}
.right_mid_pos {
   @apply absolute -right-4 top-[45%] sm:top-1/2 sm:right-0 z-10 lg:top-[15%] lg:right-10;
}

.main_head {
   @apply w-full lg:w-[70%] lg:mx-auto flex flex-col space-y-10 items-center;
}
.main_head > h4 {
   @apply text-4xl sm:text-5xl xl:text-6xl text-center z-20;
}
.main_head > h4 {
   line-height: 120%;
}

.btn_main {
   @apply w-48 flex space-x-3 items-center border-[1px] border-clr_primary bg-clr_white text-clr_primary rounded-3xl py-3 justify-center;
}

.rounded_img {
   @apply w-24 h-24 sm:w-32 sm:h-32 lg:w-36 lg:h-36 rounded-full;
}
.rounded_img > img {
   @apply block object-cover w-full h-full rounded-full;
}

/* ---------------------------- Footer Designs ---------------------------- */
.footer_section {
   @apply bg-clr_primary text-clr_white;
}

.footer_top {
   @apply flex justify-between items-center;
}

.f_logo {
   @apply w-36 object-cover;
}

.f_social_links {
   @apply flex space-x-8;
}

.f_content {
   @apply grid grid-cols-2 gap-y-16 gap-x-4 lg:grid-cols-4 lg:gap-x-6 lg:gap-y-0 xl:gap-x-10 2xl:gap-x-14;
}

.f_links {
   @apply flex flex-col;
}

.footer_heading {
   @apply text-lg border-b-[1px] border-clr_white w-full pb-8;
}

.f_links_content {
   @apply mt-8 flex flex-col space-y-4;
}

.f_link {
   @apply text-clr_white transition hover:text-white;
}

.f_icons {
   @apply text-3xl flex space-x-4;
}

.footer_bottom {
   @apply text-clr_white;
}

.f_last {
   @apply py-4 flex flex-col space-y-8 items-center justify-center lg:flex-row-reverse lg:space-y-0 lg:justify-between;
}

.privacy_policy {
   @apply capitalize flex space-x-6;
}
